ul{
  list-style: none;
}

.centerAlign{
  text-align: center;
}

.editIcon{
  font-size: 10px;
  cursor: pointer;
}

.leftAlign{
  text-align: left;
}

.userProfileDisplay{
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

/*.updatePic input{
  background-color: #3498db;
}*/