<!-- http://bootsnipp.com/snippets/3qexV -->

<div class="container">
    <section class="switch">
        <div class="slideThree">
            <input type="checkbox" value="None" id="slideThree" name="check" checked ng-checked="status" ng-click="updateStatus()" />
            <label for="slideThree"></label>
        </div>
    </section>
    <div class="row">
      <div class="[col-md-offset-1 col-md-4 ] climbers" ng-repeat="climber in activeClimbers" ng-if="climber">
        <div class="[ info-card ]">
          <img style="width: 100%" ng-src="{{climber.profileImg}}" />
          <div class="[ info-card-details ] animate">
            <div class="[ info-card-header ]">
            <h1><a ui-sref='profile({username: climber.username})'> {{climber.first}} {{climber.last}} </a></h1>
              <h3> {{climber.skillLevel}} / {{climber.gender}}</h3>
            </div>
            <div class="[ info-card-detail ]">
              <!-- Description -->
              <p>Looking to climb with some fellow {{climber.skillLevel}} climbers! </p>
              <div class="social">
                <button class="climbOnBtn btn btn-primary outline" ng-click="$root.displayChat(climber.username)">Climb On</button>
                <div ng-repeat="d in data">
                  {{d}}
                </div>
                <!-- <div class="social">
                  <a href="https://www.facebook.com/rem.mcintosh" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                  <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>
                  <a href="https://plus.google.com/u/0/115077481218689845626/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="panel panel-default chat-box" ng-show="showChat">
      <div class="panel-heading"><b>{{recipient}}</b><span class="pull-right glyphicon glyphicon-remove close-btn" ng-click="showChat = !showChat"></span></div>
      <div class="panel-body chat-body">
        <ul ng-repeat="chat in chatsView">
          <li ng-class="{newMessages: chat.date > chatClosedAt['$value'] && chat.date < chatOpenedAt['$value'], regularMessages: messageSent['$value']}">
            <p>
              <span ng-if="chat.users.sender === loggedInUser"><b>You: </b></span>
              <span ng-if="chat.users.sender !== loggedInUser"><b>{{chat.users.sender}}:</b></span>
              <span class="chat-text">{{chat.text}}</span>
            </p>
            <p class="chat-date">
              <span><i>{{chat.date | date:'shortTime'}}</i></span>
            </p>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <form class="form-inline chat-form">
          <input type="text" class="chat-input form-control" ng-model="message.text">
          <button class="btn btn-xs btn-primary" ng-click="sendMessage()">Send</button>
        </form>
      </div>
    </div> -->
</div>
